
body {
  margin: 0;
  background-color: hsl(0,0%,97%);
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(100,10%,46%,0.3);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer {
  background-color:transparent;
}

.hoverable:hover {
  background-color: hsl(0,0%,96%);
}

.reply pre {
  overflow: auto;
  width: 100%;
  background-color: hsl(0,0%,40%);
  color: white;
  padding: 8px;
}
